{% extends 'index.html' %}
{%block content %}
    
<div >
    <div>
        <a href="/tambah-kategori/" class="btn btn-primary btn-md"><i class="fas fa-plus-square"></i> Tambah Data</a>
    </div><br>
    <!-- Table -->
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr class="text-center">
                <th> KATEGORI </th>
                <th> ACTION </th>
            </tr>
        </thead>
        <tbody>
            {% for Kategori in jenis %}
            <tr>
                <td>{{ Kategori.kategori }}</td>
                <td class="text-center">
                    <a href="{% url 'ubah-kategori/' Kategori.id %}" class="btn btn-outline-primary btn-sm"><i class="fas fa-edit"></i> Edit </a>
                    <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#hapus-{{ Kategori.id }}">
                        <i class="fas fa-trash-alt"></i> Delete
                    </button>
                </td>
            </tr>

            <!-- Modal -->
            <div class="modal fade" id="hapus-{{ Kategori.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Hapus Data</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Apakah anda yakin menghapus <strong> {{ Kategori.kategori | upper }} </strong>
                        </div>
                        <div class="modal-footer">
                            <a href="{% url 'hapus-kategori/' Kategori.id %}" class="btn btn-danger">Delete</a>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}
        </tbody>
    </table>
</div>   
        
{% endblock %}
