{% extends 'index.html' %}
{%block content %}

<div class="row">
    <div class="col-md-12">
        <div>
            <a href="/laporan-xls/" class="btn btn-success btn-md"><i class="fas fa-file-export"></i> Export Excel</a>
        </div><br>
        <!-- Table -->
        <table class="table table-bordered table-striped table-hover">
            <thead>
                <tr class="text-center">
                    <th> KODE </th>
                    <th> NAMA </th>
                    <th> BUKU </th>
                    <th> PINJAM </th>
                    <th> KEMBALI </th>
                    <th> JUMLAH </th>
                </tr>
            </thead>
            <tbody>
                {% for Peminjaman in borr %}
                <tr>
                    <td>{{ Peminjaman.kodepeminjaman }}</td>
                    <td>{{ Peminjaman.anggota_id }}</td>
                    <td>{{ Peminjaman.buku_id }}</td>
                    <td>{{ Peminjaman.tglpinjam }}</td>
                    <td>{{ Peminjaman.tglkembali }}</td>
                    <td>{{ Peminjaman.jumlahpinjaman }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
           
{% endblock %}
