{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid px-5">
        <a class="navbar-brand font-weight-bold" href="/"><img src="{% static 'gambar/book.png'%}" alt="" width="28" height="24"><span class="px-4">PERPUSTAKAAN</span></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/"><i class="fas fa-home"></i> BERANDA</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/buku/"><i class="fas fa-book"></i> BUKU</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/pinjam/"><i class="far fa-address-book"></i> PEMINJAMAN</a>
                </li>
                <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-server"></i> DATA BUKU</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="/penerbit/">PENERBIT</a></li>
                    <li><a class="dropdown-item" href="/pengarang/">PENGARANG</a></li>
                    <li><a class="dropdown-item" href="/anggota/">ANGGOTA</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="/status/">STATUS</a></li>
                    <li><a class="dropdown-item" href="/kategori/">KATEGORI</a></li>
                </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/laporan/"><i class="fas fa-print"></i> LAPORAN</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/kontak/"><i class="fas fa-address-book"></i> KONTAK</a>
                </li>
            </ul> 
        </div>
    </div>
</nav>